/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */
.featured-collection {
  text-align: center;

  h2 { color: $blue-heading; }
  p { color: #9B9B9B; }
}
